@import "tailwindcss";

.box-animate {
  opacity: 0;
  transform: scale(0.8);
  animation: boxOpen 0.8s ease forwards ;
   animation-duration: 5s;
}

@keyframes boxOpen {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(30px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.typing-text {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
  animation: typing 3s steps(30) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.text-animate {
  opacity: 0;
  transform: translateY(30px);
  animation: textFade 1s ease forwards;
}

@keyframes textFade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}